* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

body header {
  background: linear-gradient(to right, yellow, blue);
  display: flex;
  justify-content: center;
}

body header h1 {
  text-align: center;
  font-size: 4rem;
}

.main {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  width: 15%;
  background: linear-gradient(to bottom, yellow, blue);
}

aside img {
  width: 100%;
  border-radius: 3%;
  display: inline-block;
  padding: 20px;
}

aside #vs {
  padding: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 84%;
}

.container .up {
  border: 4px solid green;
  height: 50%;
  width: 100%;
}

.container .down {
  height: 50%;
}

.container .down iframe {
  height: 100%;
}
